---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<footer class="mt-8 py-8 text-center text-sm text-gray-500">
  <p>&copy; 2026 Jehan. All rights reserved.</p>
</footer>
